* {
    margin: 0;
    padding: 0;

}

body{
    box-sizing: border-box;
    height: 100vh;
    background-color: black;
    color: white;
    
}

.apresentacao{
    display: flex;
    align-items: center;
}

.titulo-destaque {
    color: #22D4FD;
}
